<div>
    <ion-label class="header">Création du compte</ion-label>
</div>
<div>
  <form [formGroup]="registerForm">
  <ion-row>
      <ion-col>
          <ion-list>
             <ion-item>
              <ion-label>Adresse email</ion-label>
              <ion-input type="email" formControlName="email" class="form-control" required></ion-input>
            </ion-item>
   
            <ion-item>
              <ion-label>Mot de passe</ion-label>
              <ion-input type="password" class="form-control" formControlName="password" required></ion-input>
              <ion-label class="error">{{errorMessage}}</ion-label>
              <ion-label class="success">{{successMessage}}</ion-label>
            </ion-item>
          </ion-list>
        </ion-col>
  </ion-row>   
  <ion-row>
      <button ion-button type="submit" (click)="tryRegister(registerForm.value)" >Créer le compte</button>
  </ion-row>
</form>
</div>