  <div>
    <ion-row>
        <ion-card-content >
            <img src="../../assets/images/logo.jpg"/>
        </ion-card-content> 
    </ion-row>
     <ion-row>
      <ion-col>
        <ion-list>
           <ion-item>
            <ion-label>Adresse email</ion-label>
            <ion-input type="email"></ion-input>
          </ion-item>
 
          <ion-item>
            <ion-label>Mot de passe</ion-label>
            <ion-input type="password"></ion-input>
            <ion-label class="error">{{errorMessage}}</ion-label>
          </ion-item>
 
        </ion-list>
      </ion-col>
    </ion-row> 
      <ion-col>
        <button ion-button type="submit" class="login-button" (click)="tryLogin(loginForm.value)" >Se connecter</button>
      </ion-col>
      <ion-row class="button_conf">
      <ion-col>
        <button ion-button class="login-button facebook_button" (click)="tryFacebookLogin()" >Se connecter avec Facebook</button>
      </ion-col>
    </ion-row>

    <ion-row class="button_conf">
      <ion-col>
        <button ion-button class="login-button google_button" (click)="tryGoogleLogin()" >Se connecter avec Google</button>
      </ion-col>
    </ion-row>

    <ion-row class="button_conf">
      <ion-col>
        <button ion-button class="login-button twitter_button" (click)="tryTwitterLogin()" >Se connecter avec Twitter</button>
      </ion-col>
    </ion-row>

    <ion-row class="connecter_button">
        <ion-label>Pas de compte ? <a tappable routerLink="/register">Créer un compte</a></ion-label>
    </ion-row>
  </div>
