  .header{
    text-align: center;
    font-size: 30px;
    margin-bottom: 30px;
    font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
  }
  
  .row{
    text-align: center;
  }

  .flex-col {
    display: flex;
    margin-bottom: 100px;
  }

  .sports_button {
    background: #3b5998;
    text-align:center;
    width:90%;
    height:600%;
    margin-top: 5px;
    margin-bottom: 0px;
    }

    
  .evenements_button {
    background: #3b1998;
    text-align:center;
    width:90%;
    height:600%;
    margin-top: 5px;
    margin-bottom: 0px;
    }

    
  .commerces_button {
    background: #ca1d1d;
    text-align:center;
    width:90%;
    height:600%;
    margin-top: 5px;
    margin-bottom: 0px;
    }

    
  .informations_button {
    background: #3b5910;
    text-align:center;
    width:90%;
    height:600%;
    margin-top: 5px;
    margin-bottom: 0px;
    }