    <ion-item>
      <button type="button" (click)="logout()" item-right>Se déconnecter</button>
    </ion-item> 
    <ion-row>
      <ion-label class="header">MENU</ion-label>
    </ion-row>
    <ion-grid class="flex-col">
      <ion-row>
        <ion-col>
          <button  ion-button class="sports_button" tappable routerLink="/sports">Sports</button>    
        </ion-col>
        <ion-col>
          <button ion-button class="evenements_button" tappable routerLink="/evenements">Évènements</button>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-grid class="flex-col">
        <ion-row>
          <ion-col>
            <button  ion-button class="commerces_button" tappable routerLink="/commerces">Commerces</button>    
          </ion-col>
          <ion-col>
            <button ion-button class="informations_button" tappable routerLink="/informations">Informations</button>
          </ion-col>
        </ion-row>
    </ion-grid>